<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dagouzhi.app.temp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  stat 友盟分享  -->
    <!--<uses-sdk android:minSdkVersion="8"></uses-sdk>-->
    <!--  end  友盟分享  -->
<!-- android:launchMode="singleTask" 避免创建多个实例 -->
<!-- android:alwaysRetainTaskState="true" 避免创建多个实例 -->
    <application
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:launchMode="singleTask"
        android:alwaysRetainTaskState="true"
        android:exported="true"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:windowSoftInputMode="adjustPan" />
          <!-- Splash Screen -->
      <activity
        android:name="com.zoontek.rnbootsplash.RNBootSplashActivity"
        android:theme="@style/BootTheme"
        android:launchMode="singleTask">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <!-- Deep Linking -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="dagouzhi" android:host="dagouzhi" />
        </intent-filter>
      </activity>


      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
<!--    stat 友盟分享    -->
<!--        微信 -->
        <activity
                android:name=".wxapi.WXEntryActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
<!--       新浪 -->
        <activity
                android:name="com.umeng.socialize.media.WBShareCallBackActivity"
                android:configChanges="keyboardHidden|orientation"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:exported="false"
                android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:exported="false"
                  android:windowSoftInputMode="adjustResize"
        >
        </activity>
        <activity
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                android:launchMode="singleTask"
                android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<!--       QQ -->
        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:launchMode="singleTask"
                android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="orientation|keyboardHidden|screenSize"/>
<!--    end  友盟分享   -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5cecebb14ca3572ca4000471" />
        <!-- Channel ID用来标识App的推广渠道，作为推送消息时给用户分组的一个维度。-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="h5" />
        <!-- stat 友盟推送 -->

        <service
                android:name="com.taobao.accs.ChannelService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>

        <service
                android:name="com.taobao.accs.data.MsgDistributeService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
                android:name="com.taobao.accs.EventReceiver"
                android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
                android:name="com.taobao.accs.ServiceReceiver"
                android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
                android:name="com.taobao.accs.internal.AccsJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:process=":channel"/>

        <service
                android:name="com.taobao.accs.ChannelService$KernelService"
                android:process=":channel" />

        <service
                android:name="org.android.agoo.accs.AgooService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
                android:name="com.umeng.message.UmengIntentService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
                android:name="com.umeng.message.XiaomiIntentService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
                android:name="com.taobao.agoo.AgooCommondReceiver"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
                android:name="com.umeng.message.UmengMessageIntentReceiverService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <receiver
                android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
                android:exported="false" />

        <service
                android:name="com.umeng.message.UmengMessageCallbackHandlerService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>

        <service
                android:name="com.umeng.message.UmengDownloadResourceService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="false" />

        <provider
                android:name="com.umeng.message.provider.MessageProvider"
                android:authorities="com.dagouzhi.app.temp.umeng.message"
                android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <!-- end  友盟推送 -->
    </application>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--  react-native-camera  -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--  react-native-camera  -->

    <!--  stat 友盟分享  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--  end  友盟分享  -->
    <!-- stat 友盟推送 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- end 友盟推送 -->

  <!-- react-native-permissions -->
<!--  允许呼叫应用继续在另一个应用中启动的呼叫。-->
<!--  <uses-permission android:name="android.permission.ACCEPT_HANDOVER" />-->
<!--  位置权限-->
<!--  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
<!--  针对需要检测用户步数或对用户的身体活动-->
<!--  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />-->
<!--  允许该应用接听来电。-->
<!--  <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />-->
<!--  允许应用程序访问用户用来测量他/她身体内发生的事情的传感器的数据，例如心率。-->
<!--  <uses-permission android:name="android.permission.BODY_SENSORS" />-->
  <!--  允许程序从非系统拨号器里拨打电话-->
<!--  <uses-permission android:name="android.permission.CALL_PHONE" />-->
<!--  允许程序访问账户Gmail列表-->
<!--  <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
<!--  允许程序监视，修改或放弃播出电话-->
<!--  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
<!--  允许程序读取用户的日程信息-->
<!--  <uses-permission android:name="android.permission.READ_CALENDAR" />-->
<!--  读取通话记录-->
<!--  <uses-permission android:name="android.permission.READ_CALL_LOG" />-->
<!--  允许程序访问联系人通讯录信息-->
<!--  <uses-permission android:name="android.permission.READ_CONTACTS" />-->
  <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
<!--  允许程序读取短信内容-->
<!--  <uses-permission android:name="android.permission.READ_SMS" />-->
<!--  允许程序接收彩信-->
<!--  <uses-permission android:name="android.permission.RECEIVE_MMS" />-->
<!--  允许程序接收短信-->
<!--  <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
<!--  允许程序接收WAP PUSH信息-->
  <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
<!--  允许程序使用SIP视频服务-->
  <uses-permission android:name="android.permission.USE_SIP" />
<!--  允许程序写入日程，但不可读取-->
<!--  <uses-permission android:name="android.permission.WRITE_CALENDAR" />-->
<!--  允许程序写入（但是不能读）用户的联系人数据-->
<!--  <uses-permission android:name="android.permission.WRITE_CALL_LOG" />-->
<!--  写入联系人,但不可读取-->
<!--  <uses-permission android:name="android.permission.WRITE_CONTACTS" />-->
<!--  允许一个应用程序添加语音邮件系统-->
<!--  <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />-->
  <!-- react-native-permissions -->

    <!--8.0安装apk需要权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
</manifest>
